<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login-page/login-page.css' %}">
</head>

<body>

    <a href="{% url 'teacher:home' %}"> Profile </a>

    <h3> Class </h3>
    <h2> {{ profile.name }} </h2>

    <h3> Class Teacher </h3>
    <h2>{{ profile.class_teacher }} </h2>

    <h3> Subjects </h3>

    <table>
        {% for subject in subjects %}
        <tr>
            <td>
                {{ subject.name }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h3> Students </h3>

    <table>
        {% for student in students %}
        <tr>
            <td>
                {{ student.first_name }}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>