<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login-page/login-page.css' %}">
</head>

<body>

    <a href="{% url 'teacher:home' %}"> Profile </a>

    <h3> Class </h3>
    <h4> {{ profile.name }} </h4>

    <h3> Class Teacher </h3>
    <h4>{{ profile.class_teacher }} </h4>

    <h3> Subjects </h3>

    <table>
        {% for subject in subjects %}
        <tr>
            <td>
                {{ subject.name }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h3> Students </h3>

    <table>
        {% for student in students %}
        <tr>
            <td>
                {{ student.first_name }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h4> <a href="{% url 'teacher:class_app:scoresheet' class_name=profile.name %}"> Class Marksheet </a> </h4>

    <h3> Update Marks </h3>
    {% for permission in permissions %}
        <a href="{% url 'teacher:class_app:update_score' class_name=profile.name subject_name=permission.subject_name %}" > {{ permission.subject_name }} </a>
    {% endfor %}
</body>