<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login-page/login-page.css' %}">
</head>

<body>
    <p> HELLO WORLD </p>

    <h2> Hello </h2>
    <p>{{ profile.prefix }}  {{ profile.first_name }}  {{ profile.last_name }}</p>

    <a href="{% 'accounts:profile' %}"></a>
    <h2> Permission </h2>

    <table>
        {% for element in access %}
        <tr>
            <td>
            <a href="{% url 'class' element.class_name %}"> {{ element.class_name }} {{ element.subject_name }} </a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>