<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/login-page.css' %}">
</head>

<body>
    <h2> Profile </h2>
    <p> {{ profile.prefix }} {{ profile.first_name }} {{ profile.last_name }}</p>
    <p> {{ profile.phone }} </p>
    <p> {{ profile.email }} </p>

    <h2> Permission </h2>
    <table class="table table-sm">
        <tr>
            <th>class</th>
            <th>subject</th>
        </tr>
        {% for element in access %}
            <tr>
                <td> {{ element.clas_s }} </td>
                <td> {{ element.subject }} </td>
            </tr>
        {% endfor %}
    </table>
</body>