<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login-page/login-page.css' %}">
</head>

<body>
    <p> HELLO WORLD </p>
    <a href="{% url 'teacher:home' %} "> Home </a>
    <h2> Profile </h2>
    <p>{{ user_profile.prefix }}  {{ user_profile.first_name }}  {{ user_profile.last_name }}</p>
    <p>{{ profile.phone }}</p>
    <p>{{ profile.email }}</p>

    <h2> Permission </h2>

    {% for element in access %}
    <p> {{ element.class_name }} {{ element.subject_name }} </p>
    {% endfor %}

</body>